# DataScienceEcosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular Data Science Tools
* List commonly used libraries used by Data Scientists
* Evaluating arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

##### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. TensorFlow
4. Keras
5. SciKit-Learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin}
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
'This a simple arithmetic expression to mutiply then add integers'
(3*4)+5

17

In [3]:
'This will convert 200 minutes to hours by diving by 60'
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Jatinkumar Patel